title: 我的博客
email: your-email@example.com
description: >
  欢迎来到我的个人博客
baseurl: ""
url: "https://jsxyhelu.github.io"

markdown: kramdown
highlighter: rouge

permalink: /:categories/:title/

plugins:
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
